[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {ref = "0f494baa62f08ac0e138d3ffeb2d9762cd06bf3c", git = "https://github.com/kumapo/transformers-4.9.2.git"}
# accelerate = "*"
# datasets = ">=1.8.0"
sentencepiece = "!=0.1.92"
protobuf = "==3.19.1"
torch = ">=1.3"
tensorboard = "*"
unidic-lite = "*"
# huggingface-hub = "<1.0.0"
fugashi = "!=1.2.1"

[dev-packages]

[requires]
python_version = "3.8"
